:root {
    --main-text-font: "Nunito Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    transition: 0.3;
}


/*---------------------------- Header-------------------------------------------------------------------------------------------------------------------------------*/

header {
    min-width: 800px;
}


/*----------------------Headertop-------------------------------------------------------------------------------------------------------------------------------*/

div.headertop {
    justify-content: space-between;
    margin: 0 0px;
    padding: 12px 50px;
    width: 100%;
    height: 10px;
    background-color: black;
    color: white;
    align-items: center;
    display: flex;
}

.toolsupport {
    display: flex;
    align-items: center;
}

.toolsupport>li {
    padding: 0 12px;
}

.toolsupport>li:hover a {
    color: antiquewhite;
}

.toolsupport a {
    color: white;
}

.selectunitmoney {
    display: inline-block;
    position: relative;
    color: white;
    left: 1px;
    bottom: 4px;
    content: "\2304";
    /*DOWN ARROWHEAD*/
}

.selectunitmoney:hover {
    cursor: pointer;
    color: antiquewhite;
}

.selectunit {
    padding: 8px 12px 3px 20px;
    position: absolute;
    top: 30px;
    right: 60px;
    border-radius: 5%;
    background-color: black;
    visibility: hidden;
}

.selectunit a {
    font-family: "Nunito Sans", sans-serif;
}

.unitmoney:hover .selectunit {
    visibility: visible;
    transition: 0.3s;
    top: 20px;
}

.selectunit a:hover {
    color: antiquewhite;
}


/*----------------------Headerbottom--------------------------------------------------------------------------------------------------------------------------------*/

div.headerbottom {
    justify-content: space-between;
    margin: 0 0px;
    padding: 12px 50px;
    height: 70px;
    align-items: center;
    display: flex;
}

.logo {
    flex: 2;
}

.logo img {
    width: 100%;
    min-width: 160px;
    max-width: 240px;
}

.menu {
    flex: 3;
    display: flex;
    align-items: center;
    font-weight: bolder;
}

.menu>li {
    padding: 0 12px;
}

.menu>li>a {
    color: #111;
}

.menu>li:hover :not(.dropdown>li>a, .dropdown>li, .dropdown) {
    color: red;
    transition: 0.5s;
    border-bottom: 3px solid red;
}

.dropdown {
    position: absolute;
    background-color: antiquewhite;
    visibility: hidden;
    top: 100px;
    transition: 0.3s;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 9999;
}

.dropdown li {
    margin: 12px 12px 12px 0px;
    padding: 5px;
    color: white;
}

.dropdown li a {
    color: white;
    font-family: "Nunito Sans", sans-serif;
    font-weight: normal;
    font-size: 14px;
}

.dropdown li a:hover {
    color: bisque;
}

li:hover .dropdown {
    visibility: visible;
    background-color: black;
    top: 80px;
}

.orther {
    flex: 1;
    display: flex;
    font-weight: bold;
}

.orther>li {
    padding: 0px 12px;
}

.quantity {
    position: relative;
    display: flex;
}

.quantity>p,
.quantity>img {
    position: absolute;
}

.quantity>p {
    left: 20%;
    top: 10%;
    font-size: 13px;
}

.quantity>img {
    top: 0;
    left: 0;
}


/*---------------------------- footer----------------------------------------------------------------------------------------------------------------------------------*/

.footer {
    box-sizing: border-box;
    background: #111;
    padding-top: 70px;
    width: 100%;
    display: block;
    color: #B7B7B7;
    left: 0px;
    font: 15px;
}

.footer__container {
    width: 100%;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
}

.footer__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    justify-content: center;
}

.footer__about {
    max-width: 24%;
    min-width: 350px;
    margin-bottom: 30px;
}

.footer__about * {
    margin: 12px 0;
}

.footer__about .footer__logo {
    margin-top: -10px;
}

.footer__widget {
    max-width: 24%;
    min-width: 320px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: -40px;
}

.footer__widget * {
    margin: 12px 0;
}

.footer__widget b {
    margin: 0 0 20px 0;
    color: #FFF;
}

.footer__widget li a {
    color: #B7B7B7;
}

.footer__widget input {
    color: #B7B7B7;
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 5px 0;
    border-bottom: 2px solid #FFF;
}

.footer__widget form {
    display: flex;
    flex-direction: row-reverse;
}

.footer__widget button {
    position: absolute;
    display: inline-block;
    transform: translateY(-20%);
    border: none;
    background: transparent;
    cursor: pointer;
}

.footer__widget i {
    color: #FFF;
}

.footer__copyright p {
    text-align: center;
}

.footer__copyright i,
.footer__copyright a {
    color: red
}


/*----------------------------complete-order----------------------------------------------------------------------------------------------------------------------------------*/

.container {
    margin: 100px 7%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.icon-item {
    width: 100%;
}

.icon-item * {
    /* border: 1px solid black; */
}

.icon-item .image {
    width: 100%;
    font-size: 8vw;
    justify-content: center;
    padding: 0% 50%;
}

.icon-item .image i {
    transform: translateX(-50%);
}

.container .content {
    width: 100%;
}

.container .content>* {
    width: 100%;
    text-align: center;
    /* border: 1px solid black; */
}

.content>p {
    width: 100%;
    padding: 15px 30%;
}

.content .continue {
    display: flex;
    justify-content: center;
}

.content .continue>* {
    border: 1px solid black;
    width: 15%;
    display: flex;
    text-align: center;
    margin: 1vw 2%;
    padding: 0.7vw;
    border-radius: 10px 0;
    justify-content: center;
    cursor: pointer;
}

.content .continue a {
    color: #111;
}

.content .continue div:first-child:hover {
    background: black;
}

.content .continue div:first-child:hover a {
    color: #FFF;
}

.content .continue div:last-child {
    background: black;
}

.content .continue div:last-child a {
    color: #FFF;
}

.content .continue div:last-child:hover {
    background: white;
}

.content .continue div:last-child:hover a {
    color: black;
}